img {
    width: 30%;
    border: 3px solid rgb(0, 174, 255);
    border-radius: 34%;
    margin: 1rem;
}

#calca-feminino {
    height: 389px;
}

#titulo-camisa {
    display: inline;
    margin-left: 11rem;
}

#titulo-calça {
    display: inline;
    margin-left: 24rem
}

#titulo-calçados{
    display: inline;
    margin-left: 23rem
}

#titulo-masculino {
    display: inline;
    margin-left: 11rem;
}

#titulo-feminino {
    display: inline;
    margin-left: 22rem
}

#titulo-infantil {
    display: inline;
    margin-left: 23rem
}

#tituloo-camisa {
    display: inline;
    margin-left: 11rem;
}

#tituloo-calça {
    display: inline;
    margin-left: 24rem
}

#tituloo-calçados{
    display: inline;
    margin-left: 23rem
}
