.categorias-div{
    display: inline;
   
}

.categoria{
    display: inline;
    width: 100%;
    
}

img {
    display: inline;
    width: 10%;
    border: 2px solid;
    border-radius: 300px;
    
}

.categoria-pag-masculina {
    display: inline;
    width: 100%;
    
}

#titulo-masculino {
    margin-left: 4rem;
    margin: 3rem;
}

#titulo-feminino {
    margin-left: 8rem;
}

#titulo-infantil {
    margin-left: 9rem;
}

.botão {
    display: inline;
}

p {
    display: inline;
}