h1{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
hr{
    border: 1px solid black;
}
img{
    margin-left: 22.5rem;
    width: 10rem;
    height: 10rem;
    border: 2px solid black;
    border-radius: 20%;
    box-shadow: 1px 1px 8px;
    transition: box-shadow 0.3s ease-in-out;
}
img:hover{
    box-shadow: 5px 0px 15px; color: blue;
}
p{
    display: inline;
}
#gqc{
    margin: 21rem;
    font-weight: bold;
    margin-right: -1rem;
}
#cbmc{
    margin-left: 21.8rem;
    font-weight: bold;
}
#ppb{
    margin-left: 20rem;
    font-weight: bold;
}
#cml{
    margin-left: 22.9rem;
    font-weight: bold;
}
#cmp{
    margin-left: 23.3rem;
    font-weight: bold;
}
#ctsp{
    margin-left: 22rem;
    font-weight: bold;
}
body{
    margin: 0;
}
a{
    margin-left: 57rem;
    border: 1px solid black;
    padding: 2px 2px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(102, 32, 102);
}
